# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore compiled object files
*.o
*.obj

# Ignore executable files
*.exe
*.out

# Ignore the .vscode folder
.vscode/

# Ignore the bin folder
bin/