# Ignore compiled object files
*.o
*.obj

# Ignore executable files
*.exe
*.out

# Ignore the .vscode folder
.vscode/

# Ignore the bin folder
bin/

# Ignore all files in the root directory
*

# Exclude all directories (including subdirectories)
!/**/

# Ignore all files without extensions
!*.*